@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.App {
  text-align: center;
  font-family: 'arial';
}
body{
  background: url(https://i.ibb.co/D7NhJt2/starsbg.png);
  background-color: rgb(155, 91, 155);
  justify-content: center;
  align-items: center;
  font-family: 'arial';
}
.register, .signin{
  justify-content: center;
  display: grid;
  font-family: 'arial';
  color: rgb(43, 10, 89);
  position: relative;
  width: 130%;
  height: 100%;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px rgb(43, 10, 89), -14px -14px 20px rgb(43, 10, 89);
}
.signinpage, .registerpage{
  font-family: 'arial';
  justify-content: center;
  display: grid;
  align-items: center;
}

.brand-logo {
  height: 105px;
  width: 105px;
  padding-bottom: 5%;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px rgb(70, 192, 115), -7px -7px 10px rgb(70, 192, 115);
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

label, input {
  font-family: 'arial';
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: rgb(43, 10, 89);
}

input {
  font-family: 'arial';
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

 button {
  font-family: 'arial';
  color: rgb(43, 10, 89);
  margin: 20px;
  background: rgb(245, 165, 227);
  height: 64px;
  width: 64px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px rgb(43, 10, 89), -6px -6px 6px rgb(43, 10, 89);
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
}
.feed, .profile, .newpost{
font-family: 'arial';
}
.protected{
  justify-content: center;
  display: grid;
  font-family: 'arial';
  color: rgb(43, 10, 89);
  background: white;
  width: 350px;
  height: 90px;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
}
.feederror{
  justify-content: center;
  display: grid;
  align-items: center;
}
.createpost{
  justify-content: center;
  display: grid;
  align-items: center;
  font-family: 'arial';
  color: rgb(43, 10, 89);
  width: 300px;
  height: 300px;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px rgb(43, 10, 89), -14px -14px 20px rgb(43, 10, 89);
}
.createpostpage{
  justify-content: center;
  display: grid;
  align-items: center;
}
.wrapper {
  display: inline-flex;
  list-style: none;
}

.icon {
  position: relative;
  /* background: #ffffff;
  border-radius: 50%; */
  /* padding: 15px; */
  margin: 10px;
  width: 64px;
  height: 64px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  height: 8px;
  width: 8px;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.logo{
    block-size: -4rem;
  }

	a{
    text-decoration: none;
  }


.button-container{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: right;
}

.like {
  display: block;
  cursor: pointer;
  overflow: visible;
}
.postcard-container{
  display: flex;
  flex-direction:column;
  margin-top: 2%;
  margin-bottom: 2%;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
ul, ol{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%
}

.feedpost{
  block-size: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.homepage{
  display: flex;
  color: rgb(242, 156, 237);
  font-weight: 500;
  justify-content: center;
}

.welcomescreen{
  /* background-color: rgb(35, 35, 35); */
  /* border: white 5px dashed; */
  font-family: 'VT323';
  color: 'black';
  font-size: 30px;
}
.nav{
  display: inline;
}
.mainnav{
  display: flex;
  flex-direction: row-reverse;
  height: max-content;
  justify-content: center;
  /* background-color:crimson; */
}
.post-image{
  max-width: 50%;
  max-height: 50%;
}

.caption-container{
align-items: left;
justify-content: left;
color: #262626;
font-size: 14px;
cursor: pointer;
font-weight: 600;
text-align: center;
width: 100%;
}

.caption {
  text-align: left;
  align-items: left;
  justify-content: left;
  padding-bottom: 5%;
  background-color: #d6ff6f;
  border: #262626 2px solid;
  width: 100%;
}

.tarot-card{
height: 100%;
width: 50%;
}

.light-shadow{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.light{
  background-color: white;
  color: black;
  border: black solid 2px;
  width: 100%;
}

.shadow{
  background-color: black;
  color: white;
  border: white solid 2px;
  width: 100%;

}
.card-img-container{
display:flex;
flex-direction: row;
justify-content: center;
align-items:center;
height: auto;
width: auto;
background: url(https://i.imgur.com/6mQmH0m.jpeg);
background-repeat: repeat;
border: black 2px solid;
/* background: rgb(114, 206, 255); */
box-shadow: 1px 1px 1px rgb(43, 10, 89), -1px -1px 1px rgb(43, 10, 89);
}

.tellings-container{
  display: grid;
  grid-column: 2;
  border: #262626 2px solid;
  background-color: #a0ffea;
  text-align: left;
}

.fortune-contrainer{
display: flex;
text-align: left;
flex-direction: row;
}

.navbuttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
.fortuna {
  height: 100%;
  width: 100%;
}
.header-container{
display: flex;
flex-direction: column;
align-items: center;
background: rgb(237, 212, 143);
box-shadow: 1px 1px 1px rgb(43, 10, 89), -1px -1px 1px rgb(43, 10, 89);
border: #262626 solid 2px;
}

.keywords{
  display: flex;
  flex-direction: row;
}

 .comment-body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
  align-items: center;
  margin-bottom: 2rem;
  /* border-radius: 10px; */
  background: rgb(241, 241, 241);
  box-shadow: 1px 1px 1px rgb(43, 10, 89), -1px -1px 1px rgb(43, 10, 89);
  border: 2px black dashed;
} 
.postcomment-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ud-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.createdAt{
  background-color: rgb(0, 8, 255);
  border: black 2px solid;
  font-family: 'VT323';
  font-size: larger;
  color: #8aff82;
}

.posts{
  margin-top: 3%;
  margin-bottom: 3%;
  /* background: white; */
  justify-content: center;
  align-items: center;
  align-content: center;
  display: grid;
  font-family: 'arial';
  color: rgb(43, 10, 89);
  width: 500px;
  height: auto;
  /* border-radius: 20px; */
  box-sizing: border-box;
}

.pronav {
  height: 4rem;
  width: 4rem;
  margin: 10px;
  border-radius: 100%;
}

.textbox {
  height: 50%;
  width: auto;
}

.fortuneteller {
  max-width: 50%;
  max-height: 50%
  
}